*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.navbar{
  /* background-color: aqua; */
  position: relative;
  /* background-color: transparent; */
  font-size: 13px;
  width: 100%;
  
}
.navbar .container{
  /* /* width: 100%; */
  height: 65px;
  position: absolute;
  background-color:white;
  z-index: 1; 
  top: 0;
  left: 0;
  right: 0;
  /* width: 100%; */
  
}
.logo{
  padding: 16px 40px 12px 30px;
  background-color:#009970;
  /* overflow: hidden; */

}
.logo h1 {
  font-size: 26px;
  padding: 0;
  /* line-height: 1; */
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  /* color: white; */
}
.logo a{
  color: white;
  text-decoration: none;

}
.navbar-nav{
  /* background-color: rgb(169, 18, 18); */
  background-color:white;
  /* width: 80%; */
  padding: 10px;
  
  
}
.navbar-nav li a{
  color: black;
  margin-left: 20px;
}

.getstarted a{
  background: #009970;
  padding: 10px 25px;
  border-radius: 50px;
  color: #fff !important;
  text-decoration: none;
}

.getstarted a:hover{
   color: #fff;
  background: #00b383;
  
}







.herosection {
  /* background-image: url(./img/hero-bg.jpg ); */
  /* background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(./img/hero-bg.jpg); */
  background: linear-gradient(rgba(2,2,2,0.7),rgba(0,0,0,0.7)),url(./img/hero-bg.jpg)fixed;
 
  /* background: rgb(2,0,36); */
  /* background: linear-gradient(90deg, rgba(14, 14, 16, 0.55) 0%, rgba(16, 16, 19, 0.532) 0%),url(./img/hero-bg.jpg); */
  background-repeat: no-repeat;
  background-position:center center;
  background-size: cover;
  height: 80vh;
  width: 100%;
  /* position: relative; */
  
}
.herosection .container h1{
  color: white;
  padding-top: 170px;
  font-size: 48px;
  font-weight: bold;
}
.getstarted1 a{
  /* background: #009970; */
  padding: 8px 30px;
  border-radius: 50px;
  color: #fff !important;
  text-decoration: none;
  border: 2px solid white;

}

.getstarted1 a:hover{
   color: #fff;
  background: #00b383;
  transition: 0.5s ease-in-out;
  border: 2px solid #009970;
  
  
}
.clients {
  background: #f6f6f7;
  text-align: center;
  padding: 5px 0;
}

.clients img {
  width: 40%;
  filter: grayscale(100);
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
}

.clients img:hover {
  filter: none;
  transform: scale(1.1);
}
.about h1{
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 20px;
}

.about-list i{
  margin-right: 10px;
  color: #009970;
  font-size: 20px;
  font-weight:bold
}
.counts{
  background: #009970;
  padding: 40px 0 20px 0;
  color: #fff;
}

.why-content{
  background-color: #009970;
  color: white;
  border-radius: 5px;
  padding: 30px;

}
.why-btn a{
  background: rgba(255, 255, 255, 0.1);
  padding: 8px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
  text-decoration: none;
}
.why-btn a:hover {
  color: #009970;
  background: #fff;
} 

.why .icon-boxes .icon-box {
  text-align: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  width: 100%;
  transition: 0.3s;
}

.why .icon-boxes .icon-box i {
  font-size: 40px;
  color: #009970;
  margin-bottom: 30px;
}

.why .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0 30px 0;
}

.why .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}

.why .icon-boxes .icon-box:hover {
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
}
.cta{
  background: linear-gradient(rgba(2,2,2,0.7),rgba(0,0,0,0.7)),url(./img/cta-bg.jpg)fixed;
  background-position: center center;
  background-size: cover;
  padding: 60px 0;
  text-align: center;
  
}
.cta h3{
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}
.cta p {
  color: #fff;
}
.cta-btn{
  /* background: #009970; */
  padding: 8px 30px;
  border-radius: 50px;
  color: #fff !important;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #fff;
  
}

.cta-btn:hover{
   color: #fff;
  background: #00b383;
  transition: 0.5s ease-in-out;
  border: 2px solid #009970;
  
}
.services h2{
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.services h2::after{
  content:"";
  background-color: #00b383 !important;
  height: 4px;
  width: 55px;
  position: absolute;
  bottom: 0;
  left: 0;
  /* display: block; */
}



/* # Services */
.services{
  background-color: #f6f6f7;
}
.services .icon-box {
  text-align: center;
  padding: 40px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  border: 1px solid #009970;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
  color: #009970;
}

.services .icon-box .icon i {
  font-size: 28px;
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #36343a;
  transition: ease-in-out 0.3s;
  text-decoration: none;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}

.services .icon-box:hover h4 a {
  color: #009970;
}

.services .icon-box:hover .icon {
  color: #fff;
  background: #009970;
}

/* ====== */
.portfolio-img {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(54, 52, 58, 0.6);
}

.portfolio-img::before {
  content: "";
  background: rgba(54, 52, 58, 0.6);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio-img:hover img{
  transform: scale(1.2);
  transition: 0.5s;
  /* background: rgba(54, 52, 58, 0.6); */
  

}
.portfolio h2{
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}
.portfolio h2::after{
  content:"";
  background-color: #00b383 !important;
  height: 4px;
  width: 55px;
  position: absolute;
  bottom: 0;
  left: 0;
  /* display: block; */
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.section-title h2{
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}
.section-title h2::after{
  content:"";
  background-color: #00b383 !important;
  height: 4px;
  width: 55px;
  position: absolute;
  bottom: 0;
  left: 0;
  /* display: block; */
}
/*----------testimonials-----------*/


.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  /* overflow: hidden; */
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 0 30px;
  margin: 30px 15px;
  text-align: center;
  min-height: 350px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  background: #fff;
  width: 250px;
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #00cc95;
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}






/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  background: #fff;
}

.team .member {
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.team .member .pic {
  overflow: hidden;
  width: 150px;
  border-radius: 50%;
  margin: 0 auto 20px auto;
}

.team .member .pic img {
  transition: ease-in-out 0.3s;
}

.team .member:hover img {
  transform: scale(1.1);
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #36343a;
}

.team .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.team .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #b5b3ba;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.team .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.team .member .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team .member .social a {
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: #a8a5ae;
}

.team .member .social a i {
  color: #fff;
  font-size: 16px;
  margin: 0 2px;
}

.team .member .social a:hover {
  background: #009970;
}

.team .member .social a+a {
  margin-left: 8px;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  padding: 30px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.contact .info i {
  font-size: 20px;
  color: #fff;
  float: left;
  width: 44px;
  height: 44px;
  background: #009970;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #36343a;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #686470;
}

.contact .php-email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: #009970;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #00805d;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f6f6f7;
  margin-top: 100px;
}

.breadcrumbs h2 {
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #4f4c55;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #444444;
  font-size: 14px;
  background: #f1f0f2;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #f9f8f9;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #00c28e;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #009970;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #e4e3e6;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #009970;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #00664b;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #009970;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #00805d;
  color: #fff;
  text-decoration: none;
}






  
 


